index

<% if params[:tag_id]  %>
  <h1><%= tag.tag_name %>のタグ</h1>
<% end  %>

<div class="d-flex flex-wrap justify-content-around">
<% wishes.each do |wish| %>
  <div class="wish_card p-4 m-4">
      <%= link_to wish_path(wish.id) do %>
          <div class="d-flex flex-column  align-items-center text-align-center pt-2">
            <div><%= attachment_image_tag(wish, :wish_image , fallback: "noimage.jpg",size:'200x200', class:"rounded-circle") %></div>
            <div class="pt-3 text-center text-info"><%= wish.wish_title %></div>
            <% if wish.span %>
            <div class="pt-1 text-center"><%= wish.span.strftime('%Y/%-m/%-d') %></div>
            <% end %>
            <div class="d-flex flex-wrap justify-content-around p-2">
                <% wish.tags.each do |wish_tag| %>
                    <div class="rounded-pill bg-light p-3 m-2">
                        <%= link_to wish_tag.tag_name, wishes_path(tag_id: wish_tag.id) ,class:"text-secondary text-center"%>
                    </div>
                <% end %>
            </div>
          </div>
      <% end %>
    </div>
<% end %>
</div>
