<div class="container p-3 my-3 card">
    <h1 class="text-center mt-4">叶えたいことに戻しますか？</h1>
    <p class="text-center my-3">戻すと今までの達成レビューが見れなくなります<br>
    <br>
    叶えたいことに戻す場合は、「叶えたいことに戻す」をクリックしてください。</p>
 <div class="row">
     <div class="mx-auto">
    <%= link_to "このままにする",:back,class:"btn btn-primary"%>
    <%= link_to "叶えたいことに戻す", wishes_back_path(@wish), method: :patch,class:"btn btn-danger ml-4"%>
    </div>
 </div>
</div>

<div class="card p-4 mt-4 ">
  <div>
      <div class="d-flex justify-content-between">
          <div class="card_header">
             <% if @wish.isCompleted == false %>
                <h7 class="text-secondary">叶えたいこと</h7>
             <% else %>
               <h4 class="text-success">叶えられたこと</h4>
             <% end %>
          </div>

          <div id="star-show-<%= @wish.id %>" class="m-2"></div>
      </div>
      <div class="d-flex flex-column  align-items-center text-align-center pt-2 mt-2">
          <div><%= attachment_image_tag(@wish, :wish_image , fallback: "noimage.jpg",size:'200x200') %></div>
          <div class="pt-3 text-center text-info"><%= @wish.wish_title %></div>
          <% if @wish.isCompleted == false%>
              <div class="py-3 text-center"><%= @wish.span.strftime('%Y年%-m月%-d日までに達成予定') %></div>
          <% end %>
      </div>
  </div>
  </div>

  <script>
  $('#star-show-<%= @wish.id %>').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    readOnly: true,
    score: <%= @wish.importance %>,
  });
</script>


