<div class="card">
  <div class="d-flex flex-column  align-items-center text-align-center py-5 ">
     <% if flash[:failed] %>
          <p class="alert alert-danger">
            <%= flash[:failed] %>
          </p>
      <% end %>
      <div class="card_header">
         叶えたいことを編集する
      </div>

    <div>
      <%= form_with model:@wish, local:true do |f| %>
       <table class="table mx-auto table-borderless">

       <tbody>
        <div class="text-center py-3">
          <%= attachment_image_tag(@wish, :wish_image, fallback: "noimage.jpg", size:'200x200', class:"rounded-circle border") %>
        </div>
        <tr>
          <td>タイトル</td>
          <td><%= f.text_field :wish_title, placeholder: "",class: "form-control"%></td>
        </tr>
         <tr>
          <td>イメージ</td>
          <td><%= f.attachment_field :wish_image %></td>
        </tr>
        <tr>
          <td>目的</td>
          <td><%= f.text_field :purpose, placeholder: "" ,class: "form-control"%></td>
        </tr>
        <tr>
          <td>アクション</td>
          <td><%= f.text_area :action, placeholder: "これからできること",class: "form-control"%></td>
        </tr>
        <tr>
          <td>達成期限</td>
          <td><%= f.date_field :span, class: "form-control datetimepicker-input", id: "span", data: {toggle: "datetimepicker", target: "#span"} %></td>
        </tr>
        <tr>
          <td>tag</td>
          <td><%= f.text_field :tag_ids,value: @tag_list,placeholder: "タグをつける。複数つけるには','で区切ってください",class:"form-control" %></td>
        </tr>

        <tr>
          <td>参考URL</td>
          <td><%= f.text_area :url, placeholder: "ここに説明文を記述",class: "form-control"%></td>
        </tr>
        <tr>
          <td>その他メモ</td>
          <td><%= f.text_area :memo, placeholder: "ここに説明文を記述",class: "form-control"%></td>
        </tr>

      </tbody>
    </table>
      <%= f.submit "変更を保存", class: "btn btn-success my-2 justify-content-center py-2" %>
    <% end  %>
    </div>
      <% if @wish.isCompleted == false  %>
      <%= link_to '削除する', wish_path(@wish.id), method: :delete,data: { confirm: '本当に消去しますか?' } %>
      <% else  %>
      <%= link_to "叶えたいことに戻す", wishes_confirm_path(@wish.id) %>
      <% end  %>
  </div>
</div>