index

<% @tag_list.each do |list| %>

    <% if list.wishes.where(isCompleted:false).count != 0  %>
       <p><%=link_to list.tag_name,wishes_path(tag_id:list.id)%><%= list.wishes.where(isCompleted:false).count %></p>
    <% end %>

<% end  %>


<% if params[:tag_id]  %>
  <h1><%= @tag.tag_name %>のタグ</h1>
<% end  %>

<div class="container justify-center">
<% @wishes.each do |wish| %>
  <div class="card p-4">
      <%= link_to wish_path(wish.id) do %>
        <%= attachment_image_tag wish, :wish_image , size:'200x200'%>


<%= wish.wish_title %>
    <%= wish.memo %>
     <% wish.tags.each do |wish_tag| %>

              <%= link_to wish_tag.tag_name, wishes_path(tag_id: wish_tag.id) %>

 <% end %>
          <% end %>
    </div>
<% end %>
</div>
