
<div class="card">
  <div class="d-flex flex-column  align-items-center text-align-center py-5 ">
      <% if flash[:failed] %>
          <p class="alert alert-danger">
            <%= flash[:failed] %>
          </p>
      <% end %>
      <div class="card_header">
        叶えたいことを追加する
      </div>
    <%= form_with model:@wish, local:true do |f| %>
     <table class="table mx-auto table-borderless">

       <tbody>
        <tr>
          <td>タイトル<span class="px-2 text-bold text-danger">*</span></td>
          <td><%= f.text_field :wish_title, placeholder: "",class: "form-control"%></ %></td>
        </tr>
         <tr>
          <td>イメージ</td>
          <td><%= f.attachment_field :wish_image %></td>
        </tr>
        <tr>
          <td>目的</td>
          <td><%= f.text_field :purpose, placeholder: "" ,class: "form-control"%></td>
        </tr>
        <tr>
          <td>アクション</td>
          <td><%= f.text_area :action, placeholder: "これからできること",class: "form-control"%></td>
        </tr>
        <tr>
          <td>達成期限</td>
          <td><%= f.date_field :span, class: "form-control ", id: "span" %></td>
        </tr>
        <tr>

            <td>重要度<span class="px-2 text-bold text-danger">*</span></td>
            <td id="rating-form"><%= f.hidden_field :importance, :value => 'score'%></td>

        </tr>
        <tr>
          <td>tag</td>
          <td><%= f.text_field :tag_name, placeholder:"、を入力することでタグ追加",class: "form-control"%></ %></td>
        </tr>

        <tr>
          <td>参考URL</td>
          <td><%= f.text_area :url, placeholder: "ここに説明文を記述",class: "form-control"%></td>
        </tr>
        <tr>
          <td>その他メモ</td>
          <td><%= f.text_area :memo, placeholder: "ここに説明文を記述",class: "form-control"%></td>
        </tr>

      </tbody>
    </table>
    <%= f.submit "新規登録", class: "btn btn-success my-2" %>

    <% end %>
　</div>
</div>

<script>
    $('#rating-form').raty({
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        scoreName: 'wish[importance]'
    });
</script>

