 <% if flash[:complete] %>
  <p class="alert alert-success my-3 py-2s">
    <%= flash[:complete] %>
  </p>
<% end %>

<div class="d-flex row p-2 my-4  ">
    <!--ユーザーカード-->
    　<div class="wish-detail-card p-4 mx-auto mt-4">
        <div class="d-flex justify-content-between">
            <div class="card_header">
               <% if @wish.isCompleted == false %>
                  <h7 class="text-secondary">叶えたいこと</h7>
               <% else %>
                 <h2 class="text-success">叶えられたこと</h2>
               <% end %>
            </div>
            <% if @wish.isCompleted ==false %>
              <div id="star-show-<%= @wish.id %>" class="m-2"></div>
            <% end  %>
        </div>

        <div class="d-flex flex-column  align-items-center text-align-center pt-2 mt-2">
            <div><%= attachment_image_tag(@wish, :wish_image , fallback: "noimage.jpg",size:'200x200') %></div>
            <% if @wish.isCompleted == false %>
              <div class="pt-3 text-center text-info"><%= @wish.wish_title %></div>
            <% else %>
               <div class="pt-3 text-center text-info text-bold"><%= @wish.wish_title %></div>
            <% end  %>
            <% if @wish.isCompleted == false%>
             <% if @wish.span %>
                <div class="py-3 text-center"><%= @wish.span.strftime('%Y年%-m月%-d日までに達成予定') %></div>
              <% end  %>
            <% end %>
            <!--ボタン-->
            <div class="d-flex justify-content-end mx-auto mt-4">
               <% if @wish.isCompleted == false %>
                   <div class="mx-2"><%= link_to "戻る", wishes_path, class:"btn btn-light text-secondary text-center" %></div>
                   <div class="mx-2"><%= link_to "編集する", edit_wish_path(@wish), class:"btn btn-secondary" %></div>
                   <div class="mx-2"><%= link_to "叶えられた！", wishes_complete_path(@wish.id),method: :patch ,class:"btn btn-success"%></div>
                <% else %>

                    <div class="mx-2"><%= link_to "戻る", wishes_path, class:"btn btn-secondary text-center" %></div>
                    <div class="mx-2"><%= link_to "編集する", edit_wish_path(@wish), class:"btn btn-secondary" %></div>
                <% end  %>
             </div>
         </div>
         <!--ここまでボタン-->
      </div>
      <!--カード-->
      <!--たて配置-->
      <div class="d-flex flex-column align-items-center mx-auto wish-table">
          <!--wishカード-->
            <!--navbar-->
            <div class="container mx-3 px-3 mt-3 pt-3">
                <ul class="nav nav-tabs nav-fill">
                <li class="nav-item">
                  <a class="nav-link active text-secondary" data-toggle="tab" href="#tab_a">叶えたいことの記録</a>
                </li>
                <%  if @wish.isCompleted == true  %>
                    <li class="nav-item">
                      <a aria-controls="tab_a" data-toggle="tab" class="nav-link text-secondary" href="#tab_b">達成レビュー</a>
                    </li>
                <% end %>
               </ul>
                <div class="tab-content">
                  <div class="tab-pane in active" id="tab_a" role="tabpanel">
                      <!--目的-->
                      <%= render partial: "card" ,locals: {wish_property: @wish.purpose, content: "目的"}%>
                      <!--action-->
                      <%= render partial: "card" ,locals: {wish_property: @wish.action, content: "できること"}%>
                      <!--memo-->
                      <%= render partial: "card" ,locals: {wish_property: @wish.memo, content: "その他メモ"}%>
                      <!--tag-->
                      <div class="card p-3 mt-4">
                        <div class="dflex-column align-items-center text-align-center pt-2 mt-2">
                            <div>
                                <h3 class="text-secondary ml-1 border-bottom pb-2">Tag</h3>
                            </div>
                            <div class="d-flex p-2 mt-3">
                                 <% @wish_tags.each do |wish_tag| %>
                                    <div class="tag_list">
                                        <%= link_to wish_tag.tag_name, wishes_path(tag_id: wish_tag.id), class:"text-decoration-none rounded-pill bg-light p-3 m-2 text-secondary"%>
                                    </div>
                                 <% end %>
                            </div>
                        </div>
                      </div>
                      <!--url-->
                      <%= render partial: "card" ,locals: {wish_property: @wish.url, content: "参考記事のURL"}%>
                  </div>
                  <div class="tab-pane fade" id="tab_b" role="tabpanel">
                      <%  if @wish.isCompleted == true  %>
                        <div class="mt-5 pt-4 border-top">
                            <!--達成コンポーネント-->
                          <%= react_component("Organisms/Index/ReviewIndex",{wish:@wish, completeReviews: @reviews} ,class:"px-5") %>
                        </div>
                    　<% end %>
                  </div>
                </div>
            </div>
        </div>
</div>

<script>
  $('#star-show-<%= @wish.id %>').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    readOnly: true,
    score: <%= @wish.importance %>,
  });
</script>


