
<div class="card">
  <div class="d-flex flex-column  align-items-center text-align-center py-5 ">
      <div class="card_header">
        <h3>マイページ</h3>
      </div>
      <div >
        <%= attachment_image_tag(@user, :user_image, fallback: "noimage.jpg", size:'200x200', class:"rounded-circle border") %>
      </div>
      <div>
        <%= link_to "登録情報を編集する",edit_users_path,class:"btn btn-success"%>
      </div>
      <div><%= current_user.name%></div>
      <div>
      　<%= link_to "叶えたいこと一覧",wishes_path,class:"btn btn-primary"%>
      </div>
      <div>
      　<%= link_to "叶えられたこと一覧",wishes_dones_path,class:"btn btn-primary"%>
   　 </div>
   　<div>
   　  <%= link_to "叶えられたこと一覧",wishes_dones_path,class:"btn btn-primary"%>
   　</div>
  </div>

</div>