

<!--画像スライダー-->
<div class="container-fluid box-background">
    <div class="row　d-flex align-items-bottom">
        <!--swiper-->

        <div class="col-md-12 ">
           <div class="swiper-container mx-auto mt-5  justify-content-center py-3">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <% @wishes.last(4).each do |wish| %>
                      <div class="swiper-slide">
                        <%= link_to wish_path(wish.id) do %>
                            <%= attachment_image_tag wish, :wish_image,fallback: 'noimage.jpg', size: '300x300', class: "rounded main-image" %>
                        <% end %>
                      </div>
                    <% end %>
                </div>
                <!-- If we need pagination -->
                <!--<div class="swiper-pagination text-center"></div>-->

                <!-- If we need navigation buttons -->
                <!--<div class="swiper-button-prev"></div>-->
                <!--<div class="swiper-button-next"></div>-->

                <!-- If we need scrollbar -->
            </div>
        </div>
  </div>
</div>

<!--グラフ-->
<div>

</div>

<!--最近追加した叶えたいこと-->
<div>
  <div>
    <div>
      最近追加した叶えたいこと
    </div>
    <div class="row">
        <% @wishes.where(isCompleted = false).last(4).each do |wish| %>
            <div class="col-md-2 mt-3 mx-5">
                <p class="intro-image-wrap">
                    <%= link_to wish_path(wish.id) do %>
                        <%= attachment_image_tag wish, :wish_image, fallback: 'noimage.jpg', size: '200x200', class: "intro-image rounded" %>
                    <% end %>
                </p>
                <p><%= wish.wish_title %></p>

            </div>
        <% end %>
    </div>
    <div>叶えたいこと一覧へ</div>
  </div>
</div>

<!--最近叶えられたこと-->

  <div>

  </div>

<script>
  const swiper =  new Swiper('.swiper-container', {
  // Optional parameters
  slidesPerView: 3, // 何枚のスライドを表示するか
  spaceBetween: 20, // スライド間の余白サイズ(ピクセル)
  direction: 'horizontal',
  grabCursor: true,
  centeredSlides: true,

  loop: true,
  effect: "coverflow",
    autoplay: {
      delay: 3000, // スライドが切り替わるまでの表示時間(ミリ秒)
      stopOnLast: false, // 最後のスライドまで表示されたら自動再生を中止するか
      disableOnInteraction: false // ユーザーのスワイプ操作を検出したら自動再生を中止するか
    },
    coverflowEffect:{
      slideShadows: false,
      shadow: true,

    },
  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  // And if we need scrollbar

})

</script>