<!--フラッシュメッセージ-->

<div class="card">
  <div class="new-comment">
    <%= form_with(model:[@wish, @review], local: true) do |f| %>
      <%= f.text_area :review_title, rows:'5',placeholder: "コメントをここに" %>
      <%= f.text_area :review, rows:'5',placeholder: "コメントをここに" %>
      <%= f.attachment_field :complete_image %>
      <%= f.submit "送信する" %>
      
    <% end %>
    </div>
    <div class="row">

     <div class="d-flex justify-content-around mx-auto">
        <%= link_to "戻る", wishes_back_path(@wish), method: :patch,class:"btn btn-danger ml-4"%>
    </div>

</div>

