<div class="d-flex flex-column align-items-center mt-3">
    <div class="d-flex flex-column align-items-start">
        <h2 class="my-4">「叶えられた！」を言葉に</h2>
        <p class="pt-2 border-top">夢が叶った時あなたはどんな感情になりますか？</p>
        <p class="mt-1">夢を叶えられた経験は一生の宝物。</p>
        <p class="mt-1">  叶えられた時の思いも一緒に記録してみませんか??</p>
    </div>

    <div class="d-flex flex-wrap justify-content-center mt-2">
      <%=  render "homes/dones_card" ,iscomplete: "達成！",star_score: 5 ,image_name: "https://source.unsplash.com/K1EQQKEDgY8" ,title:"ハワイのホテルに泊まれた！" %>
      <%=  render "homes/dones_card" ,iscomplete: "達成！",star_score: 4 ,image_name: "https://source.unsplash.com//N1CZNuM_Fd8" ,title:"愛する人と結婚できました。" %>
      <%=  render "homes/dones_card" ,iscomplete: "達成！",star_score: 4 ,image_name: "https://source.unsplash.com/bH7kZ0yazB0" ,title:"一人で頂上に登れた！" %>
      <%=  render "homes/dones_card" ,iscomplete: "達成！",star_score: 4 ,image_name: "https://source.unsplash.com/E6HjQaB7UEA" ,title:"みんなでレストランにいけた！" %>
      <%=  render "homes/dones_card" ,iscomplete: "達成！",star_score: 4 ,image_name: "https://source.unsplash.com/yiafdaCeeZI" ,title:"たくさんの魚と泳げた！" %>
      <%=  render "homes/dones_card" ,iscomplete: "達成！",star_score: 4 ,image_name: "https://source.unsplash.com/AmhdN68wjPc" ,title:"大会に優勝できた！" %>
    </div>

</div>
<script>
  $('.sample-star-rate').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    readOnly: true,
  });
</script>