<div class="d-flex flex-column align-items-center mt-3">
    <div class="d-flex flex-column align-items-start  ">
      <h2 class="my-4">「叶えたい!」を言葉に</h2>
      <p class="pt-2 border-top">  人生で叶えたいことはなんですか？</p>
      <p class="mt-1">  叶えたいことは頭の中だけでは、整理しきれないもの。</p>
      <p class="mt-1">  Wisherを使って人生で叶えたいことを記録してみませんか？？</p>
    </div>
    <div class="d-flex flex-wrap justify-content-center  mt-3">
      <%=  render "homes/card" ,iscomplete: "叶えたいこと",star_score: 5 ,image_name: "moldive.jpg" ,title:"モルディブに行きたい", span: "2025年10月30日" %>
      <%=  render "homes/card" ,iscomplete: "叶えたいこと",star_score: 4 ,image_name: "newyork.jpg" ,title:"ニューヨークで一人旅がしたい", span: "2022年1月31日" %>
      <%=  render "homes/card" ,iscomplete: "叶えたいこと",star_score: 3 ,image_name: "https://source.unsplash.com/Yv6C7JssT5M" ,title:"花火大会に行きたい", span: "2021年8月30日" %>
      <%=  render "homes/card" ,iscomplete: "叶えたいこと",star_score: 5 ,image_name: "https://source.unsplash.com/hv2DRoXTKxI" ,title:"互いに成長し合える仲間と働く", span: "2021年9月30日" %>
      <%=  render "homes/card" ,iscomplete: "叶えたいこと",star_score: 2 ,image_name: "https://source.unsplash.com/Y4fKN-RlMV4" ,title:"スマートなスニーカーが欲しい", span: "2022年4月1日" %>
      <%=  render "homes/card" ,iscomplete: "叶えたいこと",star_score: 3 ,image_name: "https://source.unsplash.com/G0FsO2Ca8nQ" ,title:"スカイダイビングがしたい", span: "2030年10月30日" %>
    </div>

</div>

