<div class="d-flex flex-column align-items-center mt-3">
    <div class="d-flex flex-column align-items-start  ">
      <h2 class="my-4">「叶えたい!」を言葉に</h2>
      <p class="pt-2 border-top">  人生で叶えたいことはなんですか？</p>
      <p class="mt-1">  叶えたいことは頭の中だけでは、整理しきれないもの。</p>
      <p class="mt-1">  Wisherを使って人生で叶えたいことを記録してみませんか？？</p>
    </div>
    <div class="d-flex flex-wrap justify-content-center  mt-3">
      <%=  render "homes/card" ,iscomplete: "叶えたいこと",star_score: 4 ,image_name: "moldive.jpg" ,title:"モルディブに行きたい", span: "2025年10月30日" %>
      <%=  render "homes/card" ,iscomplete: "叶えたいこと",star_score: 4 ,image_name: "newyork.jpg" ,title:"ニューヨークで一人旅がしたい", span: "2022年1月31日" %>
      <%=  render "homes/card" ,iscomplete: "叶えたいこと",star_score: 4 ,image_name: "moldive.jpg" ,title:"モルディブに行きたい", span: "2025年10月30日" %>
      <%=  render "homes/card" ,iscomplete: "叶えたいこと",star_score: 4 ,image_name: "" ,title:"モルディブに行きたい", span: "2025年10月30日" %>
      <%=  render "homes/card" ,iscomplete: "叶えたいこと",star_score: 4 ,image_name: "moldive.jpg" ,title:"モルディブに行きたい", span: "2025年10月30日" %>
      <%=  render "homes/card" ,iscomplete: "叶えたいこと",star_score: 4 ,image_name: "" ,title:"モルディブに行きたい", span: "2025年10月30日" %>
    </div>

</div>

