<div class="mt-3 pt-4 ">
    <% flash.each do |key, value| %>
        <h5 class="alert alert-success"><%= content_tag(:div, value, class: "#{key}") %></h5>
    <% end %>
</div>
<div class="top-bg">
<div class="container d-flex flex-column align-items-center ">
   <!--TOP画面-->
   <div>
       <h1 class="top-about-text pt-1 border-bottom">Wisher</h1>
   </div>
   <div class="py-3 mx-auto">
     <div ><image src="https://source.unsplash.com//DLICfSD33as" class="top-image"/>
     </div>
   </div>
   <!--キャッチコピー-->
   <div class="py-3 border-top">
      <h2 class="text-center">「叶えたい」を言葉に。</h2>
      <h2 class="text-center">「叶えられた」を言葉に。</h2>
   </div>
  <!--wisher とは-->
   <div class="my-3 py-4 border-top border-bottom">
     <div>about wisher</div>
    <h2 class="text-center mt-3">wisherは、人生で叶えたいことを記録するダイアリーアプリです。</h2>
   </div>

   <!--叶えたいを言葉に-->
   <div class="mt-5">
    <%= render "homes/wish" %>
   </div>
    <!--叶えられたを言葉に-->
   <div class="my-5 pt-5">
    <%= render "homes/dones" %>
   </div>
  <!--いますぐ始める-->
  <div class="footer_img my-2">
    <div class="d-flex flex-column align-items-center ">
      <div><%= link_to "いますぐはじめる" ,new_user_registration_path,class:"btn btn-primary py-2 my-2"  %></div>
      <div><%= link_to "閲覧用の方はこちらから" ,homes_guest_sign_in_path,class:"btn btn-primary my-2 py-2"  %></div>
    </div>
  </div>


 </div>
</div>

<script>
  const swiper =  new Swiper('.swiper-container', {
  // Optional parameters
  slidesPerView: 3, // 何枚のスライドを表示するか
  spaceBetween: 20, // スライド間の余白サイズ(ピクセル)
  direction: 'horizontal',
  grabCursor: true,
  centeredSlides: true,

  loop: true,
  effect: "flip",
    autoplay: {
      delay: 3000, // スライドが切り替わるまでの表示時間(ミリ秒)
      stopOnLast: false, // 最後のスライドまで表示されたら自動再生を中止するか
      disableOnInteraction: false // ユーザーのスワイプ操作を検出したら自動再生を中止するか
    },

  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  // And if we need scrollbar

})

</script>