<div class="card mx-auto my-auto p-4">
  <div class="mx-auto my-auto">
    <div class="card_header">
      <h2 class="text-left">Log in</h2>
    </div>

      <%= form_with model: @user, url: user_session_path, local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true,class:"form-control"  %>
        </div>

        <div class="field my-3">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password " ,required: true, class:"form-control" %>
        </div>

        <div class="my-2">
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
        </div>

        <div class="actions mt-3 mb-4">
          <%= f.submit "Log in" ,class: "btn bg-primary btn-block text-white py-2"%>
        </div>
      <% end %>
      <div class="my-2 border-top border-secondary pt-4">
        <%= render "devise/shared/links", class:"my-2" %>
      </div>

  </div>

</div>